.idea/
__pycache__/
*.pyc
*.sqlite3
.env
tareas_semanales.md
.env
Django_secret_key_for_render
.DS_Store
static/.DS_Store
static/img/.DS_Store

.htmlcov/
.utils/
# La basura que genera terabox, para limpiar:  find . -name "*.terabox.uploading.cfg" -delete
*.terabox.uploading.cfg
