 {% load static %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">

  <!-- Left: menu icon triggers collapse -->
<a class="navbar-brand" data-bs-toggle="collapse" href="#categoryMenu" role="button" aria-expanded="false" aria-controls="categoryMenu">
  <i class="fas fa-bars"></i>
</a>

<!-- Collapsible categories list -->
<div class="collapse position-absolute bg-dark p-3 rounded shadow" id="categoryMenu" style="top:60px; left:15px; z-index:999;">
  <ul class="list-unstyled mb-0">
    {% for cat in categories %}
    <li>
      <a class="text-white text-decoration-none" href="{% url 'product_list' %}?category={{ cat.id }}">
        {{ cat.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

    <!-- Center: logo image -->
    <a class="navbar-brand mx-auto" href="{% url 'home' %}">
  <img src="{% static 'img/logo.png' %}" alt="Logo" height="80">
</a>

    <!-- Right: links -->
    <div class="d-flex">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'test_messages' %}">Messages</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
