{% extends "base.html" %}

{% block content %}
{% load static %}

<h2>Products</h2>
<!--
<form method="get">
    <select name="category" onchange="this.form.submit()">
          {% for cat in categories %}
        <option value="{{ cat.id }}" {% if cat.id == selected_category %}selected{% endif %}>
            {{ cat.name }}
        </option>
        {% endfor %}
    </select>
</form>
-->

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  {% for product in products %}
    {% include "products/_product_card.html" %}
  {% empty %}
    <div class="col">
      <div class="alert alert-warning text-center w-100">
        No products found.
      </div>
    </div>
  {% endfor %}
</div>


{% if is_paginated %}
<div>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&category={{ selected_category }}">Previous</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&category={{ selected_category }}">Next</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}