{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            {% if product.images.exists %}
            <div id="carouselDetail{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {% if image.image.name|slice:":4" == "http" %}
                        <img src="{{ image.image.name }}" class="d-block w-100" alt="{{ product.name }}"
                             style="height: 200px; object-fit: cover;">
                        {% else %}
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ product.name }}"
                             style="height: 200px; object-fit: cover;">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDetail{{ product.id }}"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselDetail{{ product.id }}"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            {% else %}
            <img src="{% static 'img/defaults/no-image-available.png' %}"
                 class="img-fluid"
                 alt="No image available"
                 style="aspect-ratio: 4 / 3; width: 100%; object-fit: cover; object-position: center;">
            {% endif %}

        </div>

        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p class="text-muted">{{ product.category.name }}</p>
            <p>{{ product.description }}</p>
            <h4 class="text-danger">€{{ product.price }}</h4>
            <a href="{% url 'product_list' %}" class="btn btn-outline-secondary mt-3">← Volver a productos</a>
        </div>
    </div>
</div>
{% endblock %}
